
<h2>Informacion principal cats</h2>
<hr>     

<div class="row">
    
    <div class="col">

        <!-- Cuando se de enter que funcione tambien -->
        <mat-form-field class="col-5">
            <mat-label>Cantidad de cats</mat-label>
            <input matInput type="number" 
                    [(ngModel)]="limitConsult"/>
                    
            <button *ngIf="limitConsult" matSuffix mat-icon-button aria-label="Clear" (click)="limitConsult=''">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-form-field>
                
        <button mat-raised-button
            color="primary"
            class="float-end col-5"
            (click)="consultar()">
            Nueva consulta
        </button>    
        
    </div>
</div>


<p>Filtrar los gatos listados por: </p>
<app-filter-origin [cats]="cats" (filterValueChange)="valueChange($event)" > </app-filter-origin>

    <!-- <div *ngIf="!cats; else divCat"
    class="alert alert-info">
    Espere por favor...
    </div>

    <ng-template #divCat>
        
    </ng-template> -->

<div class="row">
    <div class="col-4" *ngFor="let cat of cats | origin:filter">
        <app-targeta-cat [cat]="cat" ></app-targeta-cat>
    </div>
</div>