<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#c709e8" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container my-4">
 <!-- <div   style="background-color: rgb(247, 246, 246); padding: 20px;"> -->
    <div class="row">

        <div class="col-3 height">

            <h2>Filtros</h2>
            <hr>

            <app-sidebar></app-sidebar>

        </div>

        <div class="col">
            <router-outlet></router-outlet>
        </div>

    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>