<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#c709e8" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container my-2">
        
    <div class="row">

        <div class="col-1">
            <app-menu></app-menu>

        </div>

        <div class="col hijos">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>

<footer class="pie-pagina mt-3">
    <app-footer></app-footer>
</footer>