<ul class="list-group">

    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        Listado
    </li>

    <li routerLink="nombre"
        routerLinkActive="active"
        class="list-group-item">
        Por nombre
    </li>
    
    <li routerLink="origen"
        routerLinkActive="active"
        class="list-group-item">
        Por Origen
    </li>
    
    <li routerLink="categoria"
        routerLinkActive="active"
        class="list-group-item">
        Por categoria
    </li>

</ul>
