<div class="pie-pagina">

    <p>&#9401; Desarrollado por José Andres Saavedra Romero</p>
       
    <!--Siguientes ipervinculos a paginas externas-->
    <a href="https://www.linkedin.com/in/joséandressaavedraromero/" target="_blank"><img src="./../../assets/images/Linkedin.png" class="pgn" alt="icono Linkedin"></a>
    <a href="https://github.com/Jasr24" target="_blank"><img src="./../../../assets/images/GitHub.png" class="pgn" alt="icono GitHub"></a>
    <a href="https://twitter.com/JarsGamer/likes" target="_blank"><img src="./../../../assets/images/Twitter.png" class="pgn" alt="icono Twitter"></a>
    
</div>